[submodule "apps/filebrowser"]
	path = apps/filebrowser
	url = git@github.com:najamelan/ekke_filebrowser.git
[submodule "ekke_core"]
	path = ekke_core
	url = git@github.com:najamelan/ekke_core.git
[submodule "ekke_io"]
	path = ekke_io
	url = git@github.com:najamelan/ekke_io.git
[submodule "apps/systemd"]
	path = apps/systemd
	url = git@github.com:najamelan/ekke_systemd.git
